---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Marlon Bertschs Website" background="background2.jpg">
		<h1>Main site</h1>
		<p>Personal website of Marlon Bertsch</p>
		<div class="image">
			<img src="blue_dice.png" alt="" srcset="" height="100px">
			<img src="blue_pin.png" alt="" srcset="" height="100px">
			<img src="explorer.png" alt="" srcset="" height="100px">
			<img src="blue_ipod.png" alt="" srcset="" height="100px">
			<img src="blue_redbull.png" alt="" srcset="" height="100px">
			<img src="blue_phone.png" alt="" srcset="" height="100px">
			<img src="blue_itunes.png" alt="" srcset="" height="100px">
			<img src="blueberry.png" alt="" srcset="" height="100px">
			<img src="blue_opel.png" alt="" srcset="" height="100px">
		</div>
</Layout>
