---
const { href } = Astro.props;
---


<a href={href}>
    <slot />
</a>

<style>
    @font-face {
        font-family: calivorne;
        src: url(../public/calivorne.ttf);
    }
    a {
        font-family: calivorne;
        color: blue;
        padding: 2vw;
        text-decoration: none;
    }
</style>